@charset "utf-8";
body{
    background: gray;
    margin: 0;
    padding: 0;
}
#wrapper {
    background: white;
    background-size: cover;
    width: 960px;
    margin: 20px auto;
    padding: 15px;
    overflow: hidden;
}
#header {
    height: 100px;
    background: red;
    margin: 0 0 10px 0;
}
h1 {
   color: white; 
   padding: 30px;
}
h2 {
    margin-bottom: 10px;
    padding: 0;
}
h3 {
    margin-top: 0;
}
#nav {
    height: 50px;
    background: #333;
    margin: 0 0 10px 0;
}
.menu{
	margin: 7px 0 0 150px;
	padding: 5px;
	border: 2px solid lightblue;
	border-radius: 0 30px 0 30px;
	text-decoration: none;
	display: inline-block;
	background-color: white;
}

#main {
    width: 700px;
    float: left;
    margin-bottom: 10px;
}
#sidebar {
    width: 240px;
    float: right;
    margin: 60px 0 10px 0;
}
#footer {
    height: 50px;
    background: #333;
    clear: both;
}
.font {
    color: whitesmoke;
    font-family: lucida handwriting, cursive;
    text-align: center;
    padding: 10px;
}
.image{
	width: 340px;
	height: 320px;	
	float: left;
	margin: 0;
	padding: 20px 15px 0 5px;
	border-right: 2px double white;
}
p {
    margin: 0;
    padding: 0 5px 0 5px;
	text-align: justify;
	font-family: "Times New Roman", serif;
}
.mush {
	margin-left: 10px;
	padding-left: 20px;
	width: 370px;
	height: 350px;
	float: right;
}
#cheese {
	width: 350px;
	height: 250px;
	float: right
}
ul, li {
    margin: 0;
}
.pozitionare {
    padding: 60px 0 0 0;
}
.youtube {
    padding: 20px 0 0 0;
    width: 240px;
    height: 320px;
}